<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/brain.png">
  <link rel="stylesheet" href="css/quiz.css">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
  <title>Personality Prediction</title>
</head>

<body>
  <!------------ Navbar -------------->
  <section id="navbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="images/logo.png" alt="Bootstrap" width="120" height="30">
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"><u>Home</u></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="html/about_us.html">About Us</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link active" href="/contact">Contact</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
  </section>

  <!------------ Survey -------------->
  <section id="survey">
    <h1>Personality Prediction Questionnaire</h1>
    <form action="/submit" method="post">
      <div class="num-que">
        <h3>MCQ Question</h3>

        <% for (let i=0; i < mquestion.length; i++) { %>
          <div class="question">
            <label for="q<%= i+1 %>">
              <%= mquestion[i] %>
            </label>
            <select class="form-select" id="q<%= i+1 %>" name="q<%= i+1 %>">
              <option value="1">Strongly Disagree</option>
              <option value="2">Disagree</option>
              <option value="3">Neutral</option>
              <option value="4">Agree</option>
              <option value="5">Strongly Agree</option>
            </select>
          </div>
          <% } %>

      </div>

      <div class="txt-que">
        <h3>Textual Question</h3>
        <% for (let i=0; i < tquestion.length; i++) { %>
          <div class="question">
            <label for="tq<%= i+1 %>">
              <%= tquestion[i] %>
            </label>
            <input type="text" class="form-control" id="tq<%= i+1 %>" name="tq<%= i+1 %>"
              placeholder="Enter your response" required>
          </div>

          <% } %>

            <button id="submitBtn" type="submit">Get Result!</button>

            <div id="loader" class="loader"></div>
    </form>
  </section>

  <%- include('footer'); %>

    <script src="script/quiz.js"></script>
</body>

</html>