<!DOCTYPE html>
<html>

<head>
  <title>Personality Prediction Result</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/brain.png">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/result.css">
</head>

<body>
  <div class="container">
    <div class="result-box">
      <h2>Your MBTI Personality Result:</h2>
      <h1>
        <%= output1[index] %>
      </h1>
    </div>
    <main>
      <section id="MBTI">
        <h2>MBTI Model</h2>
        <p>
          The Myers-Briggs Type Indicator (MBTI) is a popular personality assessment tool that measures different
          psychological preferences in how people perceive the world and make decisions. The MBTI is based on the
          conceptual theory proposed by Swiss psychiatrist Carl Jung, who suggested that humans experience the world
          using four principal psychological functions: sensation, intuition, feeling, and thinking. </p>
        <p>The MBTI model consists of 16 personality types, which are represented by a combination of four letters: E
          (Extroverted) or I
          (Introverted), S (Sensing) or N (Intuitive), T (Thinking) or F (Feeling), and J (Judging) or P (Perceiving).
          The Extroverted/Introverted dimension describes how people focus their attention and energy, while the
          Sensing/Intuition dimension describes how people take in information. The Thinking/Feeling dimension describes
          how people make decisions, and the Judging/Perceiving dimension describes how people approach the world around
          them.
        </p>
      </section>
      <section id="Trait">
        <h3>
          <%= output1[index] %> Personality Traits:
        </h3>
        <p><b>
            <%= output2[index] %>
          </b>
        </p>
        <ul>
          <% for (let i=0; i < output3[index].length; i++) {%>
            <li>
              <%= output3[index][i] %>
            </li>
            <% } %>
        </ul>
        <p>E: Extraversion, I: Introversion, S: Sensing, N: Intuition, T: Thinking, F: Feeling, J: Judging, P:
          Perceiving</p>
      </section>
    </main>
  </div>

  <!------------- Footer ------------->
  <%- include('footer'); %>
</body>

</html>